{% if turn %}
	{% if country %}
	<script>
		$(document).ready(function() {
			$('#commands').dialog({dialogClass:commands-dialog,
				minWidth: 300,
				maxWidth: 500,
				width: 500,
				position:{my:"right top",at:"right-20 top+10", of:"body"}});
		});
	</script>
	{% endif %}

	{% if turn.open %}
		<div id="commands" title="Open turn {{turn.name}}" style="display:none">
	{% else %}
	    {% if game and game.status == 1 %}
			<div id="commands" title="Closed Turn {{turn.name}}" style="display:none">
		{% else %}
			<div id="commands" title="Ended Game, Closed Turn {{turn.name}}" style="display:none">
		{% endif %}
	{% endif %}
	
	{% if winner %}
		<div class="winner" style="background-color:{{winner.color}}; color:{{winner.fgcolor}}">
		Won by {{ winner.name }}
		</div>
	{% endif %}
	
	{% if turn.message %}
		<div class="message">{{turn.message}}</div>
	{% endif %}
	
	{% if turn.newUnits %}
		<div>Units synced after this move</div>
	{% endif %}
		<div>
		
	{% if turn.previous is not None %}
		<input id="previous-turn" class="button-icon prev" type="button" />
	{% endif %}
	{% if turn.deadline and turn.open %}
		Deadline: {{turn.deadline|date:'Y-m-d H:i'}}
	{% else %}
		History
	{% endif %}
	{% if nextTurn %}
		<input id="next-turn" class="button-icon next" type="button" />
	{% endif %}

	</div>

	<div id="commands-content"></div>
</div>
{% endif %}
