<script>
	$(document).ready(function() {
		$("#unit-command").change(function() {
			$.get("unit_command?f="+selectedField+"&ct="+$("#unit-command").val(), function( data ) {
				var json = $.parseJSON(data);
				renderFieldDialog(json);
				renderCountryDialog();
			});
		});
		$("#add-unit-command").change(function() {
			$.get("city_command?f="+selectedField+"&ct="+$("#add-unit-command").val(), function( data ) {
				var json = $.parseJSON(data);
				renderFieldDialog(json);
				renderCountryDialog();
			});
		});
	});
</script>

<div id="field-dialog">
	<div>
		<span class="type"></span>
		<span class="field"></span>
		<div>Country<span class="country"></span></div>
	</div>
	<div class="unit">
		<div>Unit country<span class="unitCountry"></span></div>
		<div>Unit type<span class="unitType"></span></div>
	</div>
	<div class="unit-owner-only">
		Unit command <select id="unit-command"></select>
		<div id='unit-command-targets'></div>
	</div>
	<div class="field-owner-only">
		Add unit <select id="add-unit-command"></select>
	</div>
	<div id="command-result">
	</div>
</div>