<script>
	$(document).ready(function() {
		$("#unit-command").change(function() {
			$.get("unit_command?f="+selectedField+"&ct="+$("#unit-command").val(), function( data ) {
				var json = $.parseJSON(data);
				if(json.message) displayMessage(json.message);
				renderFieldDialog(json);
				renderCountryDialog();
			});
		});
		$("#field-command").change(function() {
			$.get("city_command?f="+selectedField+"&ct="+$("#field-command").val(), function( data ) {
				var json = $.parseJSON(data);
				if(json.message) displayMessage(json.message);
				renderFieldDialog(json);
				renderCountryDialog();
			});
		});
	});
</script>

<div id="field-dialog">
	<div class="home">
		Home city of <span class="homeName"></span>
	</div>
	<div class="country">
		Country <span class="countryName"></span>
	</div>
	<div class="field-owner-only">
		Add unit <select id="field-command"></select>
		<div id="field-command-result"/>
	</div>
	<div class="unit">
		<div>Unit country<span class="unitCountry"></span></div>
		<div>Unit type<span class="unitType"></span></div>
	</div>
	<div class="unit-owner-only">
		Unit command <select id="unit-command"></select>
		<div id='unit-command-targets'></div>
		<div id="unit-command-result"/>
	</div>
</div>