<script>
{% if perms.ui.change_game %}		
	function addFieldToMap(e) {
		var lat = e.latlng.lat.toFixed(2);
		var lng = e.latlng.lng.toFixed(2);
		$.get('field_add?lat='+lat+'&lng='+lng, function(data) {
			var json = $.parseJSON(data);
			addField([json.lat,json.lng],json.pk);
		});
	}
	function deleteFieldFromMap(e,pk) {
		$.get('field_delete?pk='+pk, function(data) {
			$('.f-id-'+pk).hide();
		});
	}
	var lastField = null;
	function addPathToMap(e,pk) {
		if(lastField == null) lastField = pk;
		else {
			$.get('path_add?f1='+lastField+'&f2='+pk, function(data) {
				var json = $.parseJSON(data);
				addPath(json.ll1,json.ll2,json.pk1,json.pk2);
			});
			lastField = null;
		}
	}
	function deletePathFromMap(e,pk) {
		if(lastField == null) lastField = pk;
		else {
			if(pk > lastField) {
				tmp = pk;
				pk = lastField;
				lastField = tmp;
			}
			$.get('path_delete?f1='+lastField+'&f2='+pk, function(data) {
				alert(data);
				var json = $.parseJSON(data);
				$('path.p-id-'+json.pk1+'-'+json.pk2).hide();
			});
			lastField = null;
		}
	}
	function configureAddFields()    {mapClickHandler = addFieldToMap;fieldClickHandler = null;}
	function configureDeleteFields() {mapClickHandler = null;fieldClickHandler = deleteFieldFromMap;}
	function configureAddPaths()     {mapClickHandler = null;fieldClickHandler = addPathToMap;currentField = null;}
	function configureDeletePaths()  {mapClickHandler = null;fieldClickHandler = deletePathFromMap;currentField = null;}
{% endif %}

	$(document).ready(function() {
		setupGameList("{{request.session.selected_game}}");
		
		$("#select-game").change(function() {
			$.get("game_select?g="+$("#select-game").val(), function( data ) {
				location.reload();
			});
		});

{% if perms.ui.change_game %}		
		$("#configure-game").click(function() {
			$('#configure-game').hide();
			$('#configure-type').show();
			configureAddFields();
		});
		
		$("#configure-type").change(function(e) {
			var value = $("#configure-type").val();
			if(value == 'add_fields') configureAddFields()
			else if(value == 'delete_fields') configureDeleteFields();
			else if(value == 'add_paths') configureAddPaths();
			else if(value == 'delete_paths') configureDeletePaths();
		});
{% endif %}
	});
</script>

<select id="select-game"></select>
{% if perms.ui.change_game %}
	<input id="configure-game" type="button" value="Configure"/>
	<select id="configure-type" style="display:none">
		<option value="add_fields">Add fields</option>
		<option value="delete_fields">Delete fields</option>
		<option value="add_paths">Add paths</option>
		<option value="delete_paths">Delete paths</option>
	</select>
{% endif %}