<script>
{% if perms.ui.change_game %}		
	function fieldClicked(e,pk) {
		alert('My clicked ['+pk+']');
	}
{% endif %}

	$(document).ready(function() {
		setupGameList("{{request.session.selected_game}}");
		
		$("#select-game").change(function() {
			$.get("game_select?g="+$("#select-game").val(), function( data ) {
				location.reload();
			});
		});

{% if perms.ui.change_game %}		
		$("#configure-game").click(function() {
			fieldClickHandler = fieldClicked;
			map.on('click', function(e) {
				addField(e.latlng, 8);
			});
		});
{% endif %}
	});
</script>

<select id="select-game"></select>
{% if perms.ui.change_game %}
	<input id="configure-game" type="button" value="Configure"/>
{% endif %}