<script>
	$(document).ready(function() {
		$.get('game_list',function(data){
			var json = $.parseJSON(data);
			for(var i in json) {
			     var id = json[i].id;
			     var name = json[i].name;
			     $("#select-game").append('<option value='+id+'>'+name+'</option>');
			}
			$("#select-game").val("{{request.session.selected_game}}");
		});
		
		$("#select-game").change(function() {
			$.get("game_select?g="+$("#select-game").val(), function( data ) {
				location.reload();
			});
		});
	});
</script>

<select id="select-game"></select>