{{game.name}}.{{country.name}}
<div id="mapid" style="width: 1000px; height: 800px;"></div>
<script>
	var map = L.map('mapid').setView([51.505, 10.09], 4);
	var unitTypes = 'empty';
	var emptyColor = 'gray';

	L.tileLayer('{{game.tileServer}}', {maxZoom: 5}).addTo(map);
	
	// clicking on map
	var popup = L.popup();
	function onMapClick(e) {
		popup.setLatLng(e.latlng)
			.setContent("You clicked the map at " + e.latlng.toString())
			.openOn(map);
	}
	map.on('click', onMapClick);
	
	function addPath(lat, lng) {
		L.polyline([lat,lng], {color: emptyColor, opacity:0.5})
			.addTo(map);
	}
	
	function addField(latlng) {
		L.circle(latlng, 50000, {color: emptyColor}).addTo(map);
	}
	
	function addCity(latlng, clr) {
		L.circle(latlng, 150000, {
			color: clr,
			fillColor: clr,
			fillOpacity: 0.5
		}).on('click', clickCity).addTo(map);
	}
	
	function clickCity(e) {
		alert('City clicked: '+e.latlng);
	}
	
	function addUnit(latlng, clr, uType) {
		var markerIcon = L.icon({
		    iconUrl: unitTypes[uType],
		    iconAnchor: [12, 63]
		});
		L.marker(latlng, {icon: markerIcon}).addTo(map);
		L.rectangle([[latlng[0]+4,latlng[1]-1],[latlng[0],latlng[1]+1]], 
			{color: clr,fillOpacity:1}).on('click', clickMarker).addTo(map);
	}
	
	function clickMarker(e) {
		alert('Marker clicked: '+e.latlng);
	}
	
	//addPath([46.316, 3.515],[44.339, 11.074]);
	//addField([46.316, 3.515]);
	//addCity([40.313, -4.658], 'white');
	//addMarker([44.339, 11.074], 'blue');

	$(document).ready(function() {
		$.get('game_setup',function(data){
			var json = $.parseJSON(data);
			unitTypes = {}
			for(var i in json.unitTypes) {
				unitTypes[json.unitTypes[i][0]] = json.unitTypes[i][1];
			}
			for(var i in json.paths) {
				var ll1 = json.paths[i][0];
				var ll2 = json.paths[i][1];
				addPath(ll1, ll2);
			}
			for(var i in json.fields) {
			    var latlng = json.fields[i][1];
			    var clr = json.fields[i][2];
				if(clr != '') {
					if(clr == '-') clr = 'gray';
					addCity(latlng, clr);
				} else {
			    	addField(latlng);
			    }
			}
			for(var i in json.units) {
				var latlng = json.units[i][0];
				var clr = json.units[i][1];
				var type = json.units[i][2];
				addUnit(latlng, clr, type);
			}			
		});
	});
</script>