<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% load static %}
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="{% static "js/gow.js" %}"></script>
		<script src="{% static "js/gow-ui.js" %}"></script>
		{% if perms.ui.change_game %}	
			<script src="{% static "js/gow-admin.js" %}"></script>	
		{% endif %}
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<link rel="stylesheet" href="{% static "css/gow.css" %}"/>
		<link rel="icon" href="/static/icon/favicon.ico"/>
 	</head>
	<body>
		<div id="dialog" style="display:none"></div>
		<script>
			$(document).ready(function() {
				$('#dialog').dialog({position:{my:"left top",at:"left+150 top+70", of:"body"}}).dialog("close");
				$("#dialog").on("dialogclose", function(event) {fieldClickHandler=defaultClickField;});
				
				// Dialog icon button click handler
				$('#dialog-icon-btn').click(function(e) {
					openDialog();
				});
				
				// Logout button click handler
				$('#logout-btn').click(function(e) {
					logout();
				});
			});
			
			function openDialog() {
				// Example: Load game dialog content
				$('#dialog').load('/ui/game_dialog/', function() {
					$('#dialog').dialog('open');
				});
			}
		</script>

		<div id="workspace">
			<div id="menu">
				<button id="dialog-icon-btn" class="icon-button" title="Open Dialog">
					<img src="{% static 'icon/command/move.png' %}" alt="Dialog" width="24" height="24"/>
				</button>

				<button id="logout-btn" class="icon-button" title="Logout">
					<img src="{% static 'icon/logout.png' %}" alt="Logout" width="24" height="24"/>
				</button>

				{% include "menu.html" %}
			</div>
			
			<div id="map">
				{% if request.user.is_authenticated %}
					{% include "map.html" %}
				{% else %}
					{% include "welcome.html" %}
				{% endif %}
			</div>
		</div>
	</body>
</html>