<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% load static %}
		<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
		<script src="{% static "js/gow.js" %}"></script>
		<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
		<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"/>
		<link rel="stylesheet" href="{% static "css/gow.css" %}"/>
	</head>
	<body>
		<div id="menu">
			{% if request.user.is_authenticated %}
				{% include "games.html" %}
				{% include "logout.html" %}
			{% else %}
				{% include "login.html" %}
			{% endif %}
		</div>
		
		<div id="workspace">
		{% include "map.html" %}
		</div>
	</body>
</html>