<script>
	$(document).ready(function() {
		$('#login-user').click(function(event) {
			$.post('login/', $('#login-form').serialize())
				.done(function(data){location.reload();})
				.fail(function(data,status,error){$('#login-form')[0].reset();$('#login-error').html(error);});
  		});
	});
</script>

<form id="login-form">
	{% csrf_token %}
	<input type="text" name="username"/>
	<input type="password" name="password"/>
	<input id="login-user" type="button" value="Login"/>
	<span id="login-error"></span>
</form> 
