<script>
	$(document).ready(function() {
		$("#unitCommand").change(function() {
			$.get("unit_command?u="+selectedUnit+"&ct="+$("#unitCommand").val(), function( data ) {
			});
		});
	});
</script>

<div id="unit-dialog" title="Unit" style="display:none">
	<div>Field<span class="field"></span></div>
	<div>Country<span class="country"></span></div>
	<div>Type<span class="unitType"></span></div>
	
	<div class="owner-only">
		<div>Command<select id="unitCommand"></select></div>
	</div>
</div>