<script>
	$(document).ready(function() {
		$("#unit-command").change(function() {
			$.get("unit_command?u="+selectedUnit+"&ct="+$("#unit-command").val(), function( data ) {
				setupUnitDialog(data);
			});
		});
	});
</script>

<div id="unit-dialog" title="Unit">
	<div>Field<span class="field"></span></div>
	<div>Country<span class="country"></span></div>
	<div>Type<span class="unitType"></span></div>
	
	<div class="owner-only">
		<div>Command
			<select id="unit-command"></select>
			<div id='unit-command-targets'></div>
		</div>
	</div>
</div>