body {
	height: 100%;
	margin: 0;
}

#workspace {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}

#menu {
	flex: 0 1 auto;
}

#map {
	flex: 1 1 auto;
	z-index: 0;
}

#commands-content {
	width: 400px;
	height: 500px;
}

.country {
	font-weight: bold;
	text-align: center;
}

.add-unit-command {
	margin: 10px;
}

.command {
	padding-left: 20px;
}

.res_ok {
	background: url('../icon/result/ok.png') no-repeat;
}

.res_not-used {
	background: url('../icon/result/not-used.png') no-repeat;
}

.res_removed {
	background: url('../icon/result/removed.jpeg') no-repeat;
}

#dialog {
	z-index: 9999;
}

#unit-command-result {
	color: red;
	font-weight: bold;
	margin-top: 15px;
}

#city-command-result {
	color: red;
}

.unit-param span.label {
	font-weight: bold;
}

.add-Ship {
	background: url('../icon/ship.png') no-repeat;
	background-size: 16px;
}

.add-Army {
	background: url('../icon/army.png') no-repeat;
	background-size: 6px;
}

.home {
	text-align:center;
}

.unit {
	text-align:center;
	margin-top: 10px;
}

.unit-country {
	font-weight: bold;
	margin: 5px;
}

.cities {
	font-style: italic;
}

.command-target {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
	margin: 5px;
}

.clickable {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#unit-command-targets .label {
	width: 150px;
	display: inline-block;
	color: gray;
}

.escape .label {
	width: 150px;
	display: inline-block;
	color: gray;
}

#unit-command-targets .active {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.button-icon {
	cursor: pointer;
	border: none;
	width:  16px;
	height: 16px;
}

.first {
	background: url('../icon/order/first.jpeg') no-repeat;
}

.last {
	background: url('../icon/order/last.jpeg') no-repeat;
}

.prev {
	background: url('../icon/order/up.jpeg') no-repeat;
}

.next {
	background: url('../icon/order/down.jpeg') no-repeat;
}
