body {
	height: 100%;
	margin: 0;
}

#workspace {
	display: flex;
	flex-flow: column;
	height: 100%;
	width: 100%;
}

#menu {
	flex: 0 1 auto;
}

#map {
	flex: 1 1 auto;
	z-index: 0;
}

#commands-content {
	widgth: 200px;
	height: 500px;
}

#dialog {
	z-index: 9999;
}